# Node Environment
NODE_ENV=development

# Application
APP_HOST=127.0.0.1
APP_NAME=boiler-node-api
APP_PORT=7001
APP_LANG=id
APP_AUTHOR=indosistem
APP_DEBUG=true # Change to true only in local development
APP_CONTENT_POLICY_PROD="default-src 'self'; font-src 'self'; img-src 'self'; script-src 'self'; style-src 'self'; frame-src 'self'"
APP_CONTENT_POLICY_DEV="default-src 'self'; font-src 'self'; img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *; connect-src 'self' https://dev-sikeu-unimed.avnet.id;"
APP_PERMISSION_POLICY="autoplay=(self), camera=(), encrypted-media=(self), fullscreen=(), geolocation=(self), gyroscope=(self), magnetometer=(), microphone=(), midi=(), payment=(), sync-xhr=(self), usb=()"
APP_JSON_LIMIT=100200
APP_METHOD=POST,PUT,DELETE,GET,OPTIONS
APP_ALLOW_HEADER=POST,PUT,DELETE,GET,OPTIONS
APP_EXPOSE_HEADER=POST,PUT,DELETE,GET,OPTIONS
APP_PROTECTION=POST,PUT,DELETE,GET,OPTIONS

# Database
DB_DRIVER=postgre
DB_HOST=local_core_db
DB_PORT=5432
DB_USER=admin
DB_PASS=99Xe4MyS4Cf6Dzt
DB_NAME=db_boiler

# Redis
REDIS_HOST=local_core_redis
REDIS_PORT=6379
REDIS_USER=admin
REDIS_PASS=G4Z8z2VYGfMK2E7

# RabbitMQ
RABBITMQ_HOST=local_core_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASS=2utQ30E7mM9JagY

# Mail SMTP
MAIL_DRIVER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=8592725b6936ba
MAIL_PASSWORD=dd81429cfedee9
MAIL_SECURE=true
MAIL_FROM=noreply@gmail.com
MAIL_ALERT_LIST=alpredo.tampubolon@gmail.com
MAIL_IGNORE_TLS=false

# Secret
JWT_SECRET_KEY=k5d5m4i6vgNt6OyGtnxX8vpYAY2O5dh
PASSWORD_DEFAULT=2LqTzAbiVClp29t
TIMEZONE=Asia/Jakarta

# Domain
DOMAIN_API=https://dev-sikeu-unimed.avnet.id
DOMAIN_CLIENT=https://sikeu-unimed.vercel.app

